<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple to do list implement with vue</title>
</head>

<body>
	<input v-model="task" type="text" placeholder="add task...">
	<button @click="addTask">Add Task</button>
	<ul>
		<li v-for="t in tasks">{{ t }}</li>
	</ul>
	<script src="https://unpkg.com/vue@next"></script>
	<script>
		Vue.createApp({
			data() {
				return {
					tasks: [],
					task: ''
				};
			},

			methods: {
				addTask() {
					this.tasks.push(this.task);
				}
			}
		}).mount('body')
	</script>
</body>

</html>

